*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #1d3041;
    font-family: 'Poppins';
}
#cart-container{
    margin-top:50px;
    display: flex;
    justify-content: space-around;
    width:100%;
    height:87vh;
    font-family: 'Poppins';
    padding-bottom: 175px;
    gap: 10px;
}

#cart-details{
    right: 0;
    width:300px;
    background-color: #E1CBD7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#26425A;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 100%;
}
#cart-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:30px;
}
#cart-head h3 a {
    color:#26425A;
}
#myCart{
    font-weight: 800;
    margin-top: 20px;
    padding-top: 10px;
    width:100%;
    height:40px;
    background-color:#26425A;
    color:#E1CBD7;
}
#cart-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px;
    margin: 20px;
    border-top: 1px solid #1d3041;
}
#purchase-details{
    height:auto;
    max-height:500px;
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #E1CBD7;
    padding-bottom: 10px;
}
#check-outItems{
    height:500px;
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow-y:auto; 
    padding: 10px; 
}

.item{
    background-color: #E1CBD7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.582);
    width:100%;
    height:100px;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction:row ;
   justify-content: space-between;
}

.item img{
    height:80px;
    width:80px;
    align-items: center;
    margin-top: 20px;
}
#productDetails-cart{
    text-align: center;
    padding-top: 30px;
}
#removeBtn{
    margin-top: 30px;
    align-items: center;
    text-align: end;
    margin-right: 10px;
}
#removeBtn button{
    border: none;
    border-radius: 10px;
    width:90px;
    height:30px;
    background-color: #1d3041;
    color:#E1CBD7;
    transition: 0.2s;
    
}
#removeBtn button:hover{
    border: 1px solid #1d3041;
    background-color: #E1CBD7;
    color:#1d3041;
    transform: scale(1.1);
}
#check-out{
    margin-top: 20px;
    text-align: center;
    height:50px;
    align-items: center;
}
#check-out button{
    border: none;
    background-color: #C38EB4;
    color:#26425A;
    font-size:15px;
    width:150px;
    height:50px;
    border-radius: 10px;
    transition: 0.3s;
}
#check-out button:hover{
    transform: scale(1.1);
    background-color:#ac7d9e;
    color:#1d3041;
    border: 2px solid #1d3041;
}



header{
    display: flex;
    width: 100%;
    height:10vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #26425A;
    color:#E1CBD7;
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo{
    max-width: 200px;
    max-height: 60px;
    margin-left: 50px;
}
#hamMenu{
    background-color: transparent;
    border: none;
    display: none;
    margin-left: auto;
    cursor: pointer;
    z-index: 1001;
}
#menu, #cart{
   height:39px;
   width:39px;
   margin-right: 30px;
   text-align: center;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color:#C38EB4;
}
#menu, #cart:hover{
    cursor: pointer;
}
#cart{
    margin-left: 10px;
    padding: 10px;
}
#cart-icon{
    color:#86A8CF;
    font-size: smaller;
}

  #cart-icon:hover{
    color: #86A8CF;
    transform: scale(1.1);
}

.menu-pc{
    margin-left: auto;
    display: flex;
    gap:10px;
    font-family: 'Poppins';
    font-size: medium;
}
.menu-pc a{
    color:#C38EB4;
    text-decoration: none;
    padding: 5px;
    font-family: 'Poppins';
    font-size: medium;
}
.menu-pc a:hover{
    text-decoration: underline;
    color: #86A8CF;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background-color: #C38EB4;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: #26425A;
    display: block;
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins';
}
.sidebar a:hover{
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}
@media screen and (max-width: 768px){
    .menu-pc{
        display: none;
    }
    #hamMenu{
        display: block;
    }
    #cart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
    }
}
footer{
    margin-top: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #26425A;
    color:#E1CBD7;
    width: 100%;
    bottom: 0;
    height: 175px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
.container{
    width:300px;
    height:100%;
    display:flex;
    margin-top: 10px;
}
#container1{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    height: 100%;
}
#logofooter img{
    height:50px;
    width:200px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap:15px;
    color:#C38EB4;
}
.icons div{
    height:20px;
    width:20px;
    text-align: center;
    transition: 0.3s;
}
#facebook:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#twitter:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#instagram:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#container2{
   display: flex;
   justify-content: space-between;
   justify-content: center;
   gap:70px;
   height:100%;
}
.line{
    display:block;
    height:4px;
    width:90px;
    background-color: #C38EB4;
    border-radius: 20px;
}
.footerinfo{
    height:100%;
    width:100px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footerinfo a{
    color:#E1CBD7;
    text-decoration: none;
    transition: 0.3s;
}
.footerinfo a:hover{
    color:#86A8CF;
    text-decoration: underline;
    cursor: pointer;
}