*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: #1d3041;
}
header{
    display: flex;
    width: 100%;
    height:10vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #26425A;
    color:#E1CBD7;
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo{
    max-width: 200px;
    max-height: 60px;
    margin-left: 50px;
}
#hamMenu {
    background-color: transparent;
    border: none;
    display: none;
    margin-left: auto;
    cursor: pointer;
    z-index: 1001;
}
#hamMenu .bar {
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: #E1CBD7;
    transition: all 0.3s ease-in-out;
}
#hamMenu.is-active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#hamMenu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#hamMenu.is-active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
#menu, #cart{
   height:39px;
   width:39px;
   margin-right: 30px;
   text-align: center;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color:#C38EB4;
}
#menu, #cart:hover{
    cursor: pointer;
}
#cart{
    margin-left: 10px;
    padding: 10px;
}
#cart-icon{
    color:#C38EB4;
    font-size: smaller;
}
#cart-icon.active {
    color: #86A8CF; 
  }
  #cart-icon:hover{
    color: #86A8CF;
    transform: scale(1.1);
}
.menu-pc{
    margin-left: auto;
    display: flex;
    gap:10px;
    font-family: 'Poppins';
    font-size: medium;
}
.menu-pc a{
    color:#C38EB4;
    text-decoration: none;
    padding: 5px;
    font-family: 'Poppins';
    font-size: medium;
}
.menu-pc a:hover{
    color: #86A8CF;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background-color: #C38EB4;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: #26425A;
    display: block;
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins';
}
.sidebar a:hover{
    cursor: pointer;
}
#cartcount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:#C38EB4;  
    color: #E1CBD7;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}
@media screen and (max-width: 768px){
    .menu-pc{
        display: none;
    }
    #hamMenu{
        display: block;
    }
}
marquee{
    margin-top: 10px;
    background-color: #C38EB4;
    color: #1d3041;
    height: 30px;
}
#promo-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    background:#e1cbd7c9;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 10px;
    font-family: 'Poppins';
}

.promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:90px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 70px;
    color:#1d3041;
}
.promo-content h1{
    font-size: 70px;
}
#promo-close {
    background-color:transparent;
    color:#1d3041;
    border: 2px solid #1d3041;
    font-size: larger;
    border-radius: 10px;
    width: 120px;
    height:50px;
    transition: 0.2s;
}
#promo-close:hover{
    cursor: pointer;
    background-color:#1d3041;
    color:#E1CBD7;
    border: none;
    transform: scale(1.1);
}

body.promo-active {
    overflow: hidden; 
}
#welcomeHero{
    margin-top: 50px;
    font-family: 'Poppins';
    display: flex;
    width:100%;
    height:auto;
    background: linear-gradient(180deg, #C38EB4, #1d3041);
    justify-content: space-around;
}
#hero-headers{
    display: flex;
    flex-direction: column;
    padding:20px;
    gap:20px;
    max-height:40%;
    max-width: 50%;
    color: #E1CBD7;
}
#hero-headers h3, h4{
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}
#hero-headers h1{
    color:#1d3041;
    font-size:xx-large;
}
#hero-buttons{
    display: flex;
    gap:15px;
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content:start;
}
#hero-buttons button{
    font-size:small;
    width:90px;
    height:40px;
    padding:5px;
    border: none;
    border-radius: 10px;
    background-color: #1d3041;
    color:#E1CBD7;
    transition: 0.2s;
}
#hero-buttons button:hover{
    transform: scale(1.1);
    color:#1d3041;
    background-color:#C38EB4;
    border: none;
    cursor: pointer;
}
#hero-img img{
    margin-top: 15px;
    max-height:40vh;
    max-width:40vw;
    border-radius: 15px;
}
#product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:400px;
    gap:20px;
    margin-top: 50px;
    font-family: 'Poppins';
}
#product-details h1{
    color:#C38EB4;
    font-size:xx-large;
    font-family: 'Poppins';
}
#product-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:30px;
    width:auto;
    height:auto;
}
.cards{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    width: 20%;
    max-width: 200px;
    background-color: #E1CBD7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.582);
    border-radius: 20px;
    padding-bottom: 5px;
    transition: 0.2s;
}
.cards button{
    border: none;
    background-color: #E1CBD7;
    color:#26425A;
}
.cards:hover .cards-icons{
    animation: bounce 1.5s infinite;
}
.cards:hover{
    transform: scale(1.05);
}
.cards-icons{
    margin-top: 10px;
    font-size: xxx-large;
    color:#26425A;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
.cards p{
    width:90%;
    height:auto;
    min-height: 40px;
    text-align: center;
    color:#E1CBD7;
    background-color: #26425A;
    border-radius: 10px;
    padding:5px;
    height: 80px;
}
#checkNewArrivals{
    margin-top: 100px;
    width:100%;
    height:600px;
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins';
}
#headingNewArrivals{
    width:100%;
    height:50px;
    border: 2px solid ;
    text-align: center;
    font-size: larger;
    color:#C38EB4;
    border: none;
}
#headingNewArrivals h6{
    color: #E1CBD7;
}
#newArrivalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    box-sizing: border-box;
}
.newArrivalBox{
    height: 400px;
    max-width: 250px; 
    min-width: 200px; 
    padding: 10px;
    background-color: #E1CBD7;
    border: 5px solid #E1CBD7;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.newArrivalBox:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    cursor: pointer;
}
#name{
    color:#26425A;
}
.product-desc{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.product-desc #name{
    font-weight: bold;
    
}
.newArrivalBox img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}
#checkNewArrivals button{
    width:100px;
    height:50px;
    border: none;
    border-radius: 10px;
    border: 1px solid #E1CBD7;
    background-color:#1d3041;
    color:#E1CBD7;
    transition: 0.2s;
}
#checkNewArrivals button:hover{
    color:#1d3041;
    background-color:#C38EB4;
    transform: scale(1.1);
    border: none;
}
#details-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:auto;
    font-family: 'Poppins';
    gap:10px;
    margin-top: 80px;
    flex-wrap: wrap;
}
#details-slider h1 {
    color:#C38EB4;
    font-size:xx-large;
    font-family: 'Poppins';
    margin-bottom: 10px;
    text-align: center;
}
#slider-container{
    margin-top: 50px;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#image{
    width:auto;
    height:250px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
#image img{
    height:100%;
    width:100%;
    border-radius: 20px;
}
#sliders{
    display: flex;
    gap:30px;
    margin-bottom: 30px;
}
.slider{
    width:10px;
    height:10px;
    border-radius: 100px;
    border: none;
    background-color: #E1CBD7;
    transition: 0.2s;
}
.slider:hover{
    cursor: pointer;
    background-color: #C38EB4;
    transform: scale(1.1);
}
.slider.active{
    background-color: #C38EB4;
    transform: scale(1.3);
}
#slider-container .header{
    color:#C38EB4;
}
#imgdesc{
    width:50vh;
    height:auto;
    text-align: center;
    color:#E1CBD7;
}
@media screen and (max-width: 768px) {
    #welcomeHero{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #hero-headers{
        align-items: center;
    }
    #hero-buttons{
        width: 400px;
        height:100px;
        justify-content: center;
       
    }
    #hero-buttons button{
     font-size: larger;
     width:300px;
    }
    #details-slider{
        gap:70px;
    }
 
    #slider-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #imgdesc{
        text-align: center;
        align-items: center;
    
    }
    #image{
        align-items: center;
    }
    #checkNewArrivals{
        height:1000px;
    }
    
    #aboutUsContainer{
        flex-direction: column;
     }
     .AboutUsContainerCLASS{
         flex-wrap: wrap;
     }
     .carousel-container{
        max-height: 350px;
     }
}
@media screen and (max-width: 549px) {
    #checkNewArrivals{
        height:1500px;
    }
 
}

.carousel-container{
    overflow-x: hidden;
    width: 100%;
    height:350px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    flex-shrink: 0;
  }

.carousel-container:hover{
    cursor: grab;
}
.carousel-container:active{
    cursor: grabbing;
}

.carousel{
    display: flex; 
    height: 100%; 
    width:100%;
    flex-shrink: 0;
    transition: transform 0.5s ease;
}
  
.carousel-item {
    flex-shrink: 0;
    width: 100%;
    height: 90%; 
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat; 
}

footer{
    margin-top: 10px;
    display:flex;
    flex-wrap: wrap;
    height:150px;
    justify-content: space-around;
    background-color: #26425A;
    color:#E1CBD7;
    width: 100%;
    bottom: 0;
    height: 175px;
    position: relative;
    font-size: small;
}
.container{
    width:300px;
    height:100%;
    display:flex;
    margin-top: 10px;
}
#container1{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    height: 100%;
}
#logofooter img{
    height:50px;
    width:200px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap:15px;
    color:#C38EB4;
}
.icons div{
    height:20px;
    width:20px;
    text-align: center;
    transition: 0.3s;
}
#facebook:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#twitter:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#instagram:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#container2{
   display: flex;
   justify-content: space-between;
   justify-content: center;
   gap:70px;
   height:100%;
}
.line{
    display:block;
    height:4px;
    width:90px;
    background-color: #C38EB4;
    border-radius: 20px;
}
.footerinfo{
    height:100%;
    width:100px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footerinfo a{
    color:#E1CBD7;
    text-decoration: none;
    transition: 0.3s;
}
.footerinfo a:hover{
    color:#86A8CF;
    cursor: pointer;
}