*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e1cbd7;
}
#logo{
    max-width: 150px;
    max-height: 39px;
}
#menu, #cart{
    max-width: 75px;
    max-height: 75px;
}
#menu, #cart:hover{
    cursor: pointer;
}
#cart{
    margin-left: auto;
    padding: 10px;
}
section{
    width:100%;
    height:350px;
}
footer{
    display:flex;
    height:150px;
    justify-content: space-around;
    background-color: #26425A;
    color:#E1CBD7;
}
.container {
    width:300px;
    height:100%;
    display:flex;
    margin-top: 10px;
}
#container1{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
#logofooter img{
    height:50px;
    width:200px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap:15px;
    color:#C38EB4;
}
.icons div{
    height:20px;
    width:20px;
    text-align: center;
    transition: 0.3s;
}

#facebook:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    
}
#twitter:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
}
#instagram:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
}
#container2{
    display: flex;
    justify-content: space-between;
   justify-content: center;
   gap:50px;
}
.line{
    display:block;
    height:4px;
    width:90px;
    background-color: #C38EB4;
    border-radius: 20px;
}
.footerinfo{
    height:100%;
    width:100px;
    display: flex;
    flex-direction: column;
    gap:15px;
}