*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1d3041;
}
header{
    display: flex;
    width: 100%;
    height:10vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #26425A;
    color:#E1CBD7;
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo{
    max-width: 150px;
    max-height: 39px;
}
#hamMenu{
    background-color: #26425A;
    border: none;
    display: none;
}
#menu, #cart{
   height:39px;
   width:39px;
   margin-right: 30px;
   text-align: center;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color:#C38EB4;
}
#menu, #cart:hover{
    cursor: pointer;
}
#cart{
    margin-left: auto;
    padding: 10px;
}
.menu-pc{
    margin-right: 20px;
    display: flex;
    gap:10px;
}
.menu-pc a{
    color:#C38EB4;
    text-decoration: none;
    padding: 5px;
    font-family: 'Poppins';
    font-size: small;
}
.menu-pc a:hover{
    text-decoration: underline;
    color: #86A8CF;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background-color: #C38EB4;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: #26425A;
    display: block;
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins';
}
.sidebar a:hover{
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}
@media screen and (max-width: 768px){
    .menu-pc{
        display: none;
    }
    #hamMenu{
        display: block;
    }
}
main{
    min-height: 87vh;
    background-color: #1d3041;
    padding-bottom: 200px;
}
#filters{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1d3041;
}
.hidden{
    display: none;
}
.filter{
    border: none;
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color:#1d3041;
    color: #E1CBD7;
    border-radius: 100px;
    transition: 0.3s;
}
.filter:hover{
    cursor: pointer;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24); 
     background-color: #cf97bf; 
     color:#1d3041;
}
.productContainer{
    margin-top: 20px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    background-color: #1d3041;
    justify-content: space-around;
}
.productBox{
    margin: 10px;
    height: 350px;
    width: 197px;
    background-color: #E1CBD7;
    border: 5px solid #E1CBD7;
    border-radius: 20px;
    transition: 0.9s;
    text-align: center;
    font-family: 'Poppins';
    font-size: small;
}
.productBox img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.productBox:hover{
    transform: scale(1.1);
}
.wishlistContainer button{
    width:20px;
    height:20px;
}
.productBox .productName{
    color:#1d3041;
    margin-bottom: 5px;
}
#contactBtn{
    display: flex;
    right: 10px;
    bottom: 10px;
    z-index: 200;
    position: fixed;
    border-radius: 50%;
    border: none;
    color: #26425A;
    background-color: #C38EB4;
}
#contactBtn:hover{
    cursor: pointer;
    background-color: #cf97bf;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#contactBtn img{
    height: 50px;
    width: 50px;
}
section{
    width:100%;
    height:350px;
}
footer{
    margin-top: 10px;
    display:flex;
    flex-wrap: wrap;
    height:150px;
    justify-content: space-around;
    background-color: #26425A;
    color:#E1CBD7;
    width: 100%;
    bottom: 0;
    height: 175px;
    position: relative;
}
.container{
    width:300px;
    height:100%;
    display:flex;
    margin-top: 10px;
}
#container1{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    height: 100%;
}
#logofooter img{
    height:50px;
    width:200px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap:15px;
    color:#C38EB4;
}
.icons div{
    height:20px;
    width:20px;
    text-align: center;
    transition: 0.3s;
}
#facebook:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#twitter:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#instagram:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#container2{
   display: flex;
   justify-content: space-between;
   justify-content: center;
   gap:70px;
   height:100%;
}
.line{
    display:block;
    height:4px;
    width:90px;
    background-color: #C38EB4;
    border-radius: 20px;
}
.footerinfo{
    height:100%;
    width:100px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footerinfo a{
    color:#E1CBD7;
    text-decoration: none;
    transition: 0.3s;
}
.footerinfo a:hover{
    color:#86A8CF;
    text-decoration: underline;
    cursor: pointer;
}