*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: #1d3041;
}
header{
    display: flex;
    width: 100%;
    height:10vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #26425A;
    color:#E1CBD7;
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo{
    max-width: 200px;
    max-height: 60px;
    margin-left: 50px;
}
#hamMenu {
    background-color: transparent;
    border: none;
    display: none;
    margin-left: auto;
    cursor: pointer;
    z-index: 1001;
}
#hamMenu .bar {
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: #E1CBD7;
    transition: all 0.3s ease-in-out;
}
#hamMenu.is-active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#hamMenu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#hamMenu.is-active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
#menu, #cart{
   height:39px;
   width:39px;
   margin-right: 30px;
   text-align: center;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color:#C38EB4;
}
#menu, #cart:hover{
    cursor: pointer;
}
#cart{
    margin-left: 10px;
    padding: 10px;
}
#cart-icon{
    color:#C38EB4;
    font-size: smaller;
}
#cart-icon.active {
    color: #86A8CF; 
  }
  #cart-icon:hover{
    color: #86A8CF;
    transform: scale(1.1);
}
.menu-pc{
    margin-left: auto;
    display: flex;
    gap:10px;
    font-family: 'Poppins';
    font-size: medium;
}
.menu-pc a{
    color:#C38EB4;
    text-decoration: none;
    padding: 5px;
    font-family: 'Poppins';
    font-size: small;
}
.menu-pc a:hover{
    text-decoration: underline;
    color: #86A8CF;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background-color: #C38EB4;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: #26425A;
    display: block;
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins';
}
.sidebar a:hover{
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}
@media screen and (max-width: 768px){
    .menu-pc{
        display: none;
    }
    #hamMenu{
        display: block;
    }
}
#welcomeHero{
    margin-top: 50px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-around;
    width:100%;
    height:auto;
}
#hero-headers{
    display: flex;
    flex-direction: column;
    padding:20px;
    gap:20px;
    max-height:40%;
    max-width: 50%;
    color:#E1CBD7
}
#hero-headers h1{
    color:#C38EB4;
    font-size:xx-large;
}
#hero-buttons{
    display: flex;
    gap:15px;
    margin-top: 5px;
}
#hero-buttons button{
    font-size:x-small;
    width:70px;
    height:40px;
    padding:5px;
    border: 2px solid #E1CBD7;
    border-radius: 30px;
    background-color: #1d3041;
    color:#E1CBD7;
    transition: 0.2s;
}
#hero-buttons button:hover{
    transform: scale(1.1);
    color:#1d3041;
    background-color:#C38EB4;
    border: none;
    cursor: pointer;
}
#hero-img img{
    margin-top: 15px;
    max-height:40vh;
    max-width:40vw;
    border-radius: 15px;
}
.chroma{
    font-family:'Poppins';
    color:#C38EB4;
    font-weight: 800;
}
#product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:400px;
    gap:20px;
    margin-top: 50px;
    font-family: 'Poppins';
}
#product-details h1{
    color:#C38EB4;
    font-size:xx-large;
    font-family: 'Poppins';
    
}
#product-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:30px;
    width:auto;
    height:auto;
}
.cards{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    width: 20%;
    max-width: 200px;
    background-color: #E1CBD7;
    border-radius: 20px;
    padding-bottom: 5px;
}
.cards-icons{
    margin-top: 10px;
    font-size: xxx-large;
    color:#26425A;
}
.cards p{
    width:90%;
    height:auto;
    min-height: 40px;
    text-align: center;
    color:#E1CBD7;
    background-color: #26425A;
    border-radius: 10px;
    padding:5px;
}
#details-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:auto;
    font-family: 'Poppins';
    gap:10px;
    margin-top: 50px;
}
#details-slider h1 {
    color:#C38EB4;
    font-size:xx-large;
    font-family: 'Poppins';
    margin-bottom: 10px;
    text-align: center;
}
#slider-container{
    margin-top: 60px;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#image{
    width:auto;
    height:50vh;
    margin-bottom: 40px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
#start-shopping{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#C38EB4;
}
#shopping{
    color:#E1CBD7;
    font-weight: 800;
}

#image img{
    height:100%;
    width:30vw;
    border-radius: 20px;
}
#sliders{
    display: flex;
    gap:30px;
}
.slider{
width:10px;
height:10px;
border-radius: 100px;
border: none;
background-color: #E1CBD7;
transition: 0.2s;
}
.slider:hover{
    cursor: pointer;
    background-color: #C38EB4;
    transform: scale(1.1);
}
.slider .active{
    background-color: #C38EB4;
    transform: scale(1.1);
}
#slider-container .header{
    color:#C38EB4;
}
#imgdesc{
    width:50vh;
    height:auto;
    text-align: center;
    color:#E1CBD7;
}

footer{
    margin-top: 10px;
    display:flex;
    flex-wrap: wrap;
    height:150px;
    justify-content: space-around;
    background-color: #26425A;
    color:#E1CBD7;
    width: 100%;
    bottom: 0;
    height: 175px;
    position: relative;
}
.container{
    width:300px;
    height:100%;
    display:flex;
    margin-top: 10px;
}
#container1{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    height: 100%;
}
#logofooter img{
    height:50px;
    width:200px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap:15px;
    color:#C38EB4;
}
.icons div{
    height:20px;
    width:20px;
    text-align: center;
    transition: 0.3s;
}
#facebook:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#twitter:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#instagram:hover{
    color:#86A8CF;
    padding:4px;
    transform: scale(1.4);
    cursor: pointer;
}
#container2{
   display: flex;
   justify-content: space-between;
   justify-content: center;
   gap:70px;
   height:100%;
}
.line{
    display:block;
    height:4px;
    width:90px;
    background-color: #C38EB4;
    border-radius: 20px;
}
.footerinfo{
    height:100%;
    width:100px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footerinfo a{
    color:#E1CBD7;
    text-decoration: none;
    transition: 0.3s;
}
.footerinfo a:hover{
    color:#86A8CF;
    text-decoration: underline;
    cursor: pointer;
}